{% extends "base.html.j2" %}

{%block title%}Login{%endblock%}

{% block obsah %}

<h1>Login</h1>

<form method="post">
    login:<br>
    <input type="text" name="login"> <br>
    password: <br>
    <input type="password" name="password"> <br>
    <input type="submit" >
    <button>Odeslat</button>
</form>

{% endblock obsah %}